<!-- university-form.component.html -->

<div class="max-w-md mx-auto bg-white shadow-lg rounded px-8 pt-6 pb-8 mb-4 w-full max-w-md flex justify-center items-center">
    <form [formGroup]="foyerForm" (ngSubmit)="onSubmit()" class="grid md:grid-cols-1 md:gap-3" style="max-width: 50%;">
  
      <div class="relative z-0 w-full mb-5 group">
        <h1 class="font-medium">Modifier Foyer</h1>
      </div>
  
      <!-- Nom de l'université -->
      <div class="relative z-0 w-full mb-5 group">
        <label for="floating_nom_foyer" class="block text-black font-medium">Nom du foyer</label>
        <input type="text" formControlName="nomFoyer" id="floating_nom_foyer" class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none focus:outline-none focus:border-blue-500 dark:text-black dark:border-gray-600 dark:focus:border-blue-500 dark:bg-gray-800" placeholder="Saisissez le nom du foyer" required />
        <div *ngIf="foyerForm.get('nomFoyer')?.errors" class="text-red-500 text-sm mt-1">
          <div *ngIf="foyerForm.get('nomFoyer')?.hasError('required')">Le nom du foyer est obligatoire.</div>
          <div *ngIf="foyerForm.get('nomFoyer')?.hasError('maxLength')">Le nom du foyer ne doit pas dépasser 50 caractères.</div>
          <div *ngIf="foyerForm.get('nomFoyer')?.hasError('pattern')">Le nom du foyer ne doit contenir que des lettres et des espaces.</div>
          <div *ngIf="foyerForm.get('nomFoyer')?.hasError('uniqueName')">Le nom du foyer doit être unique.</div>
        </div>
      </div>
  
      <!-- Adresse de l'université -->
      <div class="relative z-0 w-full mb-5 group">
        <label for="floating_capaciteFoyer" class="block text-black font-medium">Capacite</label>
        <input type="number" formControlName="capaciteFoyer" id="floating_capaciteFoyer" class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none focus:outline-none focus:border-blue-500 dark:text-black dark:border-gray-600 dark:focus:border-blue-500 dark:bg-gray-800" placeholder="Saisissez la capacite du foyer" required />
        <div *ngIf="foyerForm.get('capaciteFoyer')?.errors" class="text-red-500 text-sm mt-1">
          <div *ngIf="foyerForm.get('capaciteFoyer')?.hasError('required')">La capacite du foyer est obligatoire.</div>
          <div *ngIf="foyerForm.get('capaciteFoyer')?.hasError('maxLength')">La capacite du foyer ne doit pas dépasser 50 caractères.</div>
          <!-- Ajoutez d'autres messages d'erreur au besoin -->
        </div>
      </div>
      <!-- Bouton de soumission -->
      <button type="submit" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Modifier Foyer</button>
    </form>
  </div>
  