<div class="container">
    <div class="row">
      <div class="col-md-7 mt-10 mx-auto">
        <div class="text-container">
          <div class="text-center">
            <div style="display: block; position: absolute;">
              <canvas id="myChart" width="400" height="400"></canvas>
            </div>
          </div>
        </div>

      </div>
    </div>
    <button class="btn btn-danger" type="submit" (click)="retour()"><i class="fa fa-arrow-left" aria-hidden="true"></i></button>


    
  </div>