<!-- foyer-details.component.html -->

<div *ngIf="foyerDetails" class="d-flex justify-content-center align-items-center vh-100">
    <div class="card text-center">
        <div class="card-body">
            <img src="assets/img/maxresdefault.jpg" class="card-img-top w-25 mx-auto" alt="Image Alt Text">
            <h2 class="card-title text-4xl font-bold mb-4">{{ foyerDetails.nomFoyer }}</h2>
            <p class="card-text text-xl">Capacité: {{ foyerDetails.capaciteFoyer }}</p>
            <p class="card-text text-xl">Blocs:</p>
    <button [routerLink]="['/front/universities/list-bloc', foyerDetails.nomFoyer]" class="bg-blue-500 text-white py-2 px-4 rounded-full">View Blocs</button>        
            <!-- Add other fields as needed -->
        </div>
    </div>
</div>
